$primary-color: #dd2c00;
$primary-dark: #a30000;
$primary-light: #ff6434;
$secondary-color: #37474f;
$secondary-dark: #102027;
$secondary-light: #62727b;
$black-overlay: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
$heading-underline: black;