@mixin inputStyle {
    width: 100%;
    // height: 3rem;
    outline: none;
    border: 1px solid #505050;
    background: transparent;
    border-radius: 8px;
    font-size: 1rem;
    position: relative;
    padding: 1rem;
    padding-left: 21px;
    transition: 0.3s;

    &:focus {
        border: 1px solid #4285f4;
    }
}

.form {
    position: relative;
    // margin-top: 1rem;

    input {
        @include inputStyle;
    }

    textarea {
        @include inputStyle;
        height: 100px;
        padding-top: 1rem;
        resize: none;
    }

    label {
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1rem;
        transition: 0.3s;
        color: #000;
        pointer-events: none;
    }
}

.form {

    input:focus+label,
    input:not(:placeholder-shown)+label,
    textarea:focus+label,
    textarea:not(:placeholder-shown)+label {
        top: 0;
        left: 1rem;
        color: #000;
    }

    input:focus+label,
    textarea:focus+label {
        color: #4285f4;
    }

    span {
        padding: 0 5px;
        background: #fff;
        border-radius: 1000px;
    }
}