@use "../../styles/utilities/variables" as *;

@mixin unsetBorder {
    border: none;
    border-radius: unset;
}

.productTitle {
    font-size: 1.4rem;
    color: #3749bb;
}

.productPrice {
    margin: 1rem 0;
    font-size: 1.1rem;

    span {
        font-weight: 600;
    }
}

.quantityForm {
    display: flex;
    gap: 1rem;
}

.quantityGroup {
    display: flex;

    button {
        border: none;
        background: transparent;
        padding-inline: 1rem;
        font-size: 1.5rem;
        border: 1px solid #ccc;

        &:hover {
            background: #ccc;
        }

        &:first-child {
            border-right: none;
        }

        &:last-child {
            border-left: none;
        }
    }

    input {
        width: 60px;
        text-align: center;
        border: 1px solid #ccc;

        &:focus {
            outline: none;
        }
    }
}

.submitBtn {
    padding-block: 0.8rem;
}

// Tab styles
.tab {
    @include unsetBorder;
    margin-top: 2rem;

    :global(.nav-item) {
        @include unsetBorder;

        :global(.nav-link) {
            @include unsetBorder;
            color: $secondary-light;
            margin-bottom: 1.5rem;
            padding-inline: 0;
            margin-right: 1rem;

            &:global(.active) {
                color: $primary-color;
                border-bottom: 2px solid $primary-color;
            }
        }
    }
}

.descriptionText {
    line-height: 1.75;
}